<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudpos.apps.tester">

    <uses-permission android:name="android.permission.CLOUDPOS_INSTALL_SILENCE" />
    <uses-permission android:name="android.permission.CLOUDPOS_UNINSTALL_PROHIBITED_APPLICATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="cloudpos_service_auto_start"
            android:value="com.wizarpos.aidl.tester.XXXXService" />
        <activity android:name="com.cloudpos.apps.tester.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>